doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title UFARM | Produce Upload
    link(rel='stylesheet', href='/css/form.css')
  body  
    
    .form-container
      form(action='/uploadproduce', enctype="multipart/form-data",  method='POST')
          h1 Produce Upload Form
              br
              hr
              label(for='producename') Produce Name
              input#producename.input-field(autocomplete='off', type='text', name='producename')

              label(for='produceprice') Produce Unit Price
              input#produceprice.input-field(autocomplete='off', type='text', name='produceprice')

              label(for='producequantity') Produce Quantity
              input#producequantity.input-field(autocomplete='off', type='text', name='producequantity')
              select#measurement.input-field(name="measurement") 
                option(value="selectProduce") Select Measurement
                option(value="poultry") Kilogram  
                option(value="dairy") Litre
                
              label(for='producetype') Produce Category
              select#producetype.input-field(name="producetype") 
                option(value="selectProduce") Select Produce Type
                option(value="poultry") Poultry 
                option(value="dairy") Dairy
                option(value="horticulture") Horticulture
                          
              label(for='produceimg') Produce Image:
              input#produceimg.input-field(type='file', name='produceimg')

              label.bold(for='ufid') Urban Farmer ID:
              select#ufid.input-field(name="ufid")               
                if currentuser 
                  option(value=currentuser._id) #{currentuser.userId}
      
              label.bold(for='uploadDate') Upload Date:
              input#uploadDate.input-field(autocomplete='off', type='date', placeholder='dd/mm/yyyy', name='uploadDate')           
              
              button.button(name='submit', type='submit', value='Upload Produce') Upload Produce             