doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title UFARM | Shop
    link(href="/bootstrap-5.2.1-dist/css/bootstrap.min.css", rel="stylesheet")
  body
          h1.display-5.fw-bold.lh-1.mb-3 UFARM Shop
  div.form-row
    div.col.form-group
        a.bt.btn.btn-outline-primary.me-2n(href='/') Back
  footer.footer.mt-auto.py-3.bg-light
      .container
        span.text-muted
          | UFARM_Alinda_B &copy; 2022_Catalyst_Cohort12
  script(src="/bootstrap-5.2.1-dist/js/bootstrap.bundle.min.js")
